.events-list {
  font-size: smaller;
  margin-top: 12px;
}

.events-list > li {
  list-style-type: disc;
  margin-bottom: 5px;
}

/* Grayed-out style for future dates */
.future-time {
  color: gray;
}
