.bibliography {
   font-size: .85em;
   hyphens: auto;
}

.bibliography-header {
   display: flex;
   width: 100%;
   height: 1.33em;
   margin-top: -1.33em;
   justify-content: space-between;
   flex-direction: row-reverse;
}

.bibliography-header a {
   font-size: x-small;
   font-weight: normal;
   color: var(--text);
   opacity: .55;
   transition: color 1s, opacity 1s;
   cursor: pointer;
}

.bibliography-header a:hover, .bibliography-header a:focus {
   color: var(--main-color);
   opacity: 1;
}

.bibliography-header .code {
   font-family: 'Courier New', Courier, monospace;
   font-size: smaller;
}



.bib-entry {
   display: flex;
   justify-content: space-between;   
   margin-bottom: 1em;
}

.csl-entry {
   display: inline-block;
   text-align: left;
   width: 100%;
   opacity: .85;
   transition: opacity 400ms;
}

.csl-entry:hover {
   opacity: 1;
}

.bib-entry > .bib-index {
   display: inline-block;
   padding-right: 12px;
   min-width: 2.5em;
   text-align: right;
}

.bib-entry .bib-number {
   color: var(--main-color);
}

.bib-entry .bib-link {
   display: inline;
   opacity: .8;
   transition: 400ms;
}

.bib-entry .bib-link:hover {
   opacity: 1;
}

.bibliography .breadcrumb-container {
   display: inline-block;
   /* anchor to the same height but to the waay right */
   position: absolute;
   right: calc(-1em - 2cm);
   text-align: left;
   width: 2cm;
}

.bibliography .breadcrumb {
   font-size: 0.75rem;
   word-break: keep-all;
   white-space: nowrap;
}

.bibliography-filters {
   margin-bottom: 1em;
   display: flex;
   flex-wrap: wrap;
   gap: 0.5em;
}

.bibliography-filters button {
   padding: 0.33em 0.5em;
   font-size: 0.55em;
   font-weight: normal;
   border: solid .5px var(--soft-glow);
   border-radius: 9pt;
   background-color: var(--soft-glow);
   color: var(--text);
   cursor: pointer;
   transition: background-color 500ms, color 500ms;
}

.bibliography-filters button.filter-active {
   background-color: var(--main-color);
   color: var(--background);
}

.bibliography-filters button:hover {
   scale: 1;
   background-color: var(--main-color-transparent);
   font-size: 0.55em;
   font-weight: normal;
   padding: 0.33em 0.5em;
}