.header {
   left: 0;
   top: 0;
   width: 100%;
   display: flex;
   margin-top: 50px;
   --p: 0;
   padding-top: calc(32px - 27px * var(--p));
   padding-bottom: calc(32px - 27px * var(--p));
   padding-left: calc(42px * var(--p));
   padding-right: calc(5px * var(--p));
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   transition: background-color 1s, color 1s;
   z-index: 1000;
   box-shadow: 0 2px 8px rgba(0, 0, 0, calc(0.2 * var(--p)));
}

.header.sticky {
   position: fixed;
   background-color: var(--background-header);
   margin-top: 0px;
   flex-direction: row;
}

.header.sticky .hide-on-sticky {
   display: none;
}

.header+.content {
   transition: padding-top .1s;
}

.header.sticky+.content {
   padding-top: 3em;
}

.header-glue {
   width: calc(35% * var(--p));
   height: 1px;
   transition: scale .1s;
}
